body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.game-image{
    width:286px;
    height:180px;
    overflow:hidden;
}
.console-image,.genre_image{
    width:286px;
    height:180px;
    overflow:hidden;
}
.game-col{
  margin: 30px;
}
.game-page-image{
  width:150px;
  height:300px;
  overflow:hidden;
}
.footer{
  height: calc(100% - 60px);
}

.pagination {
  justify-content: center;
}

